@charset "UTF-8";
//<ПЕРЕМЕННЫЕ>===========================================================================================================
$minwidth: 320;
$mw: 1790;
$md1: $mw + 12;
$md2: 992.98;
$md3: 767.98;
$md4: 479.98;
//</ПЕРЕМЕННЫЕ>===========================================================================================================

//<Шрифт по умолчанию>==========================================================================================
$fontfamily: "lato", sans-serif;
//</Шрифт по умолчанию>==========================================================================================

//<МИКСИНЫ>===============================================================================================

@mixin cnt($h) {
    display: flex;
    flex-direction: column;
    height: $h;
    text-align: center;
    align-items: stretch;
    justify-content: center;
}
@mixin tr($x, $y, $z) {
    transform: translate3d($x, $y, $z);
}
@mixin adaptiv-font($pcSize, $mobSize) {
    $addSize: $pcSize - $mobSize;
    $mw: $mw - 320;
    font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$mw}));
}
//</МИКСИНЫ>===============================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
* {
    padding: 0px;
    margin: 0px;
    border: 0px;
}
* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus,
:active {
    outline: none;
}
a:focus,
a:active {
    outline: none;
}
aside,
nav,
footer,
header,
section {
    display: block;
}
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    min-width: $minwidth;
    position: relative;
    width: 100%;
    color: #000;
}
body {
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    font-family: $fontfamily;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    &.lock {
        overflow: hidden;
        @media (max-width: $md3+px) {
            width: 100%;
            position: fixed;
            overflow: hidden;
        }
    }
}
input,
button,
textarea {
    font-family: $fontfamily;
}
input::-ms-clear {
    display: none;
}
button {
    cursor: pointer;
}
button::-moz-focus-inner {
    padding: 0;
    border: 0;
}
a,
a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
ul li {
    list-style: none;
}
img {
    vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

.wrapper {
    width: 100%;
    min-height: 100%;
    overflow: hidden;
}

.container {
    max-width: 1100px;
    width: 95%;
    margin: 0 auto;
}
