.header {
    height: 60px;
    &__logo {
        font-size: 20px;
    }
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 60px;
    }
    &__menu {
        display: flex;
    }
}
